body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  background: #141E30;
  background: linear-gradient(to bottom, #243B55, #141E30);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  touch-action: manipulation; /* disable double-tap zoom */
  overscroll-behavior-y: contain;
}

html, body { height: 100%; }
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

* { box-sizing: border-box; }
[hidden] { display: none !important; }
[disabled] { pointer-events: none; opacity: 0.3; }

.background {
  width: 100vw;
  height: 100vh;
  background: $color-black;
}

.color-0 { background: $color-red; fill: $color-red; }
.color-1 { background: $color-orange; fill: $color-orange; }
.color-2 { background: $color-yellow; fill: $color-yellow; }
.color-3 { background: $color-green; fill: $color-green; }
.color-4 { background: $color-turquoise; fill: $color-turquoise; }
.color-5 { background: $color-blue; fill: $color-blue; }
.color-6 { background: $color-violet; fill: $color-violet; }
.color-7 { background: $color-magenta; fill: $color-magenta; }

canvas {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
}

#svg rect {
  transition: all 0.2s linear;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}

.rotate-phone { display: none; }
.phone-icon {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  fill: white;
  animation: rotate 4s infinite ease-in-out;
}
